<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>bs-3 page</title>
	<meta name="description" content="">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--bootstrap-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster" rel="stylesheet">
	<!--main style-->
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="libs/modernizr/modernizr.js"></script>
</head>
<body>
	<div id="wrapper" class="container-fluid">

		<!--header begin-->
		<header class="main-header">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar icon-bar-1"></span>
						<span class="icon-bar icon-bar-2"></span>
						<span class="icon-bar icon-bar-3"></span>
							
					</button>

					<a class="navbar-brand logo-left" href="index.html">Your<span>Website</span></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right text-center">
						<li> <a href="#">Home</a></li>
						<li> <a href="#">Products</a> </li>
						<li> <a href="#">F.A.Q</a> </li>
						<li> <a href="#">Company</a> </li>
						<li> <a href="#">About</a> </li>
						<li> <a href="#" data-toggle="modal" data-target="#myModal">Contact</a> </li>
					</ul>
				</div>
			</div>
		</header>
		<!-- main-content -->

		<div class="main-container container">
			<div class="row"> 
				<div class="content-box container-fluid"> 
					<div class="slider">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
							<!-- Wrapper for slides --> 
							<div class="carousel-inner"> 
								<div class="item active"> 
									<div class="row"> 
										<div class="col-xs-12 indent-slide"> 
											<div class="col-md-2 col-sm-2 col-xs-12"> 
												<img  src="img/slide-img.png" alt="slide-image"> 
											</div> 
											<div class="col-md-10 col-sm-10 col-xs-12"> 
												<div class="caption"> 
													<h2 class="slide-title text-center">LOREM IPSUM DOLOR...</h2> 
													<p class="slide-info-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat. Duis rutrum pharetra lectus sit amet varius. Proin euismod pretium magna, egestas aliquet velit pretium eget.</p> </div> 
												</div> 
											</div> 
										</div> 
									</div> 
									<!--2-->
									<div class="item"> 
										<div class="row"> 
											<div class="col-xs-12 indent-slide"> 
												<div class="col-md-2 col-sm-2 col-xs-12">
													<img src="img/slide-img.png" alt="slide-image">  </div> 
													<div class="col-md-10 col-sm-10 col-xs-12"> 
														<div class="caption"> 
															<h2 class="slide-title text-center">LOREM IPSUM DOLOR...</h2> 
															<p class="slide-info-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat. Duis rutrum pharetra lectus sit amet varius. Proin euismod pretium magna, egestas aliquet velit pretium eget.</p>
														</div> 
													</div>
												</div>
											</div> 
										</div> 
									</div> 
									<!-- Controls --> 
									<a class="carousel-control left-btn" href="#carousel-example-generic" data-slide="prev"> <img src="img/left-btn.png" alt="left"> </a> 
									<a class="carousel-control right-btn" href="#carousel-example-generic" data-slide="next"> <img src="img/right-btn.png" alt="right"> </a> 
								</div> 

							</div>

							<!--left-bar-->
							<div class="row"> 
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="left-bar">
										<h2 class="title">Products...</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat.</p>
										<ul class="product-list col-md-7 text-center">
											<li><i class="glyphicon glyphicon-chevron-right"></i>
												<a class="cl-effect-15" href="#0" data-hover="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></li>
												<li><i class="glyphicon glyphicon-chevron-right"></i>
													<a class="cl-effect-15" href="#0" data-hover="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></li>
													<li><i class="glyphicon glyphicon-chevron-right"></i>
														<a class="cl-effect-15" href="#0" data-hover="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></li>
														<li><i class="glyphicon glyphicon-chevron-right"></i>
															<a class="cl-effect-15" href="#0" data-hover="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></li>
															<li><i class="glyphicon glyphicon-chevron-right"></i>
																<a class="cl-effect-15" href="#0" data-hover="Lorem ipsum dolor sit amet.">Lorem ipsum dolor sit amet.</a></li>
															</ul>
														</div>
													</div>
													<!--right-bar-content-->
													<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
														<h2 class="title">Lorem Ipsum Dolor...</h2>
														<p class="txt-right-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat. Duis rutrum pharetra lectus sit amet varius. Proin euismod pretium magna, egestas aliquet velit pretium eget.</p> 

														<p class="txt-right-block">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum est massa, varius eget placerat non, laoreet nec erat. Suspendisse potenti. Donec molestie porta mauris quis venenatis. Aliquam quis leo est, vel blandit turpis. Quisque sed metus diam, iaculis cursus nulla.</p> 

														<p class="txt-right-block">Cum sociis natoque penatibus et magnis dis parturient montes, 
															<span>nascetur ridiculus mus. Vestibulum est massa, varius eget placerat non, laoreet nec erat. Suspendisse potenti.</span> Donec molestie porta mauris quis venenatis. Aliquam quis leo est, vel blandit turpis. Quisque sed metus diam, iaculis cursus nulla.</p>
														</div>	
													</div>
													<!--bottom-content-->
													<div class="row"> 
														<div class="content-bottom col-md-9 center-block"> 
															<div class="row"> 
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																	<div class="bottom-left-block clearfix">
																		<div class="img-clock"> 
																			<img alt="clock" src="img/clock.png" class="clock img-responsive text-center"> 
																		</div>
																		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat.</p>
																	</div>
																</div>
																<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
																	<div class="bottom-right-block clearfix">
																		<div class="img-cofe"> 
																			<img alt="coffe" src="img/coffe.png" class="coffe img-responsive text-center">
																		</div>
																		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum iaculis arcu ut interdum. Aliquam erat volutpat.</p>
																	</div>
																</div>

															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

										<!--footer--> 
										<footer class="container-fluid footer-bg">
											<div class="container">
												<div class="row">
													<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive">
														<span class="sr-only">Открыть навигацию</span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
														<span class="icon-bar"></span>
													</button>
													<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 clearfix">
														<a class="twitter" href="https://twitter.com/"><img class="img-responsive" src="img/twitter.png" alt="twitter">Twitter <p>Follow us</p></a>

													</div>
													<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
														<div class="collapse navbar-collapse" id="responsive">
															<ul class="nav navbar-nav text-center">
																<li> <a href="#">Home</a></li>
																<li> <a href="#">Products</a> </li>
																<li> <a href="#">F.A.Q</a> </li>
																<li> <a href="#">Company</a> </li>
																<li> <a href="#">About</a> </li>
																<li> <a href="#">Contact</a> </li>
															</ul>
														</div>
													</div>
												</div>

												<div class="row"> 
													<div class="col-md-4 hidden-xs hidden-sm"> 
														<div class="twit-info">
															<p class="twit-info-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.	</p>
															<p class="date">Posted 4 Days Ago</p>
														</div>
													</div>	

													<div class="col-md-6 col-md-offset-2 text-right copy-logo-bottom">
														<p class="copyright">Copyright Yoursite.com | All Rights Reserved</p>
														<a class="navbar-brand logo-left pull-right" href="index.html">Your<span>Website</span></a>
													</div>
												</div>
											</div>
										</footer>

									</div>
									<!--modal form-->
									<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div ng-app="validationApp" ng-controller="mainController">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
														<h4 class="modal-title">Contact Form</h4>
													</div>
													<form id="contactForm" class="form-horizontal" name="userForm" ng-submit="submitForm()" novalidate>
														<!--hidden type form-->
														<input type="hidden" name="project_name" value="test-form">
														<input type="hidden" name="admin_email" value="example@gmail.com">
														<input type="hidden" name="form_subject" value="Заявка с формы!">
														<!--end hidden type form-->
														<div class="form-group" >
															<label class="col-xs-3 control-label">Username</label>
															<div class="col-xs-5" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
																<input type="text" 
																class="form-control" 
																name="username" 
																placeholder="First name"  
																maxlength="20"
																ng-model="user.username" 
																ng-minlength="3" 
																ng-maxlength="8"/>
																<p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
																<p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
															</div>

														</div>

														<div class="form-group">
															<label class="col-xs-3 control-label">Phone number</label>
															<div class="col-xs-5">
																<input type="number" 
																class="form-control" 
																name="phoneNumber"
																required 
																placeholder="Phone numer,please" />
																
															</div>
														</div>

														<div class="form-group" >
															<label class="col-xs-3 control-label">Email address</label>
															<div class="col-xs-5" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
																<input 
																type="email" 
																class="form-control" 
																name="email" 
																required 
																placeholder="Enter your email"
																ng-model="user.email" />
																<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
															</div>
														</div>

														<div class="form-group">
															<label class="col-xs-3 control-label">Message</label>
															<div class="col-xs-9">
																<textarea 
																class="form-control" 
																name="message" 
																rows="7" 
																minlength="5"
																maxlength="100" 
																placeholder="Type your message here"></textarea>
															</div>
														</div>

														<div class="form-group">
															<label class="col-xs-3 control-label" id="captchaOperation"></label>
															<div class="col-xs-3">
																<input 
																type="text" 
																class="form-control" 
																name="captcha" />
															</div>
														</div>

														<div class="form-group">
															<div class="col-xs-9 col-xs-offset-3">
																<button 
																type="submit" 
																class="btn btn-primary" 
																ng-disabled="userForm.$invalid">Submit</button>
															</div>
														</div>
													</form>
												</div><!-- End of Modal content -->
											</div><!-- End of Modal dialog -->
										</div>
									</div><!-- End of Modal -->
									<!--loader-->
									<div id="loader-wrapper">
										<div id="loader"></div>
										<div class="loader-section section-left"></div>
										<div class="loader-section section-right"></div>
									</div>


	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="libs/plugins-scroll/plugins-scroll.js"></script>
	<script src="js/script.js"></script>

</body>
</html>